.friends_list {
  display: flex;
  flex-direction: column;
}
.friendList_item {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid;
  width: 350px;
  margin-bottom: 3px;
  padding-left: 10px;
}
.friendList_green {
  background-color: green;
  width: 10px;
  height: 10px;
  display: 'block';
  border-radius: 50%;
}
.friendList_red {
  background-color: red;
  width: 10px;
  height: 10px;
  display: 'block';
  border-radius: 50%;
}
